/*  */
/* FOONTS */
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
/*  */
/*  */
* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url("/images/b3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: darken;
  background-size: 100%;
}
/* header */

/* nav bar */
nav {
  opacity: 0.5;
}
.navbar-brand {
  color: #1b877f;
  opacity: 1;
  font-weight: bolder;
}
.nav-link {
  color: black;
}
.nav-link:hover {
  color: #1b877f;
}
.nav-item {
  margin: auto 10px;
  opacity: 1;
}
.contact-button {
  background-color: transparent;
  border-color: #1b877f;
  border: 1px 1px 1px 1px;
  padding: 10px;
  transition: 0.7;
  border-radius: 8px;
}
.contact-button:hover {
  background-color: #1b877f;
  color: white;
}

/* home Section */
.home-section {
  height: 85vh;
  display: flex;
  align-items: center;
}
.left-side {
  /* background-color: red; */
  text-align: center;
}
.quote {
  font-size: 400%;
  padding: 40px;
  line-height: 100px;
  color: whitesmoke;
  font-weight: normal;
  opacity: 0.8;
  text-align: center;
}
.house {
  color: #1b877f;
  font-weight: 1000;
}
.home {
  color: #54428e;
  font-weight: 1000;
}
.right-side {
  /* background: yellow; */
  margin-left: -10.66%;
  height: 500px;
  display: flex;
  align-items: center;
  opacity: 0.6;
}
.d-block {
  z-index: -3;
  border-radius: 8%;
}
.slide-show {
  width: 30rem;
  aspect-ratio: 1/1.2;
  border-radius: 8%;
  background-color: black;
}
.slide-show::after {
  content: "";
  width: 100px;
  height: 100px;
  background-color: orangered;
}
